
<div class="container">
<div><button id='my-button'>Yayını Başlat</button>
<video autoplay id="video"></video></div>
<button id='bitir'>Yayını Sonlandır</button>


<div class="container" id="chat">
 <div id="chat-window">
     <div id="output" style="height:120px;width:500px;border:1px solid #ccc;font:16px/26px Georgia, Garamond, Serif;overflow:scroll;"></div>
 </div>
 <div id="typing"></div>

 <input id="handle"  class="col-xs-4"  type="text" placeholder="isim" />
 <input id="message" class="col-xs-4" type="text" placeholder="Pey Mesajı" />
 <button id="submit" type="submit" class=" btn  btn-primary ">PAYLAŞ</button>

</div>

</div>
